html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(44, 42, 55);
}

.component {
  margin: 1em auto; /* Center horizontally */
}

@media (max-width: 900px) {
  .component {
    width: 100%; /* Adjusted for smaller screens */
  }
}

/* 
    HEADER
*/
.header {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  width: 76%;
  gap: 10px;
  padding-left: 4%;
  margin-bottom: 4%;
  margin-top: 10%;
}

.header--menu--button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.header--title {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 1.2rem;
}

.header--subtitle {
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 0.8rem;
}

/* 
    Menu
*/

.menu--button--icon {
  width: "30px";
  height: "30px";
  border-radius: 5px;
}

/* 
    Controls
*/

.musicCover {
  border-radius: 10%;
  width: 76%;
}

.controlButtons:hover {
  fill: #0575c5;
}

.playButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.playButton:hover {
  color: black;
}

.shuffleButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.prevButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.nextButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}

.volumeButton {
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
}
.volumeButtonIcon {
  fill: white;
}
.volumeButtonIcon:hover {
  fill: #0575c5;
  stroke: #0575c5;
}

.title {
  color: white;
  font-size: larger;
  letter-spacing: 6px;
  font-size: 1.5rem;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.subTitle {
  margin-top: -1em;
  color: #747474;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}

.timeline--container {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%; /* Adjust width as needed */
  z-index: 1; /* Ensure the timeline is above the image */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
}

.musicCover {
  width: 80%; /* Ensure the image covers the container */
  height: 100%;
  object-fit: fill;
}

/* 
    Fullscreen Controls
*/

.fs--musicCover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: fill;
}

.fs--details {
  display: flex;
  flex-direction: column;
  color: white;
}

.fs--title {
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fs--subTitle {
  margin-top: -1em;
  color: #747474;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 0.75rem;
}

.overlay-container:hover .time {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the time is above the image */
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: smaller;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 12px;
}

.controls {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 10%;
}

.fs--controls {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 10%;
}

.fs--controls--main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4%;
}

.overlay-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.overlay-container .time {
  display: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: #053a5f;
  height: 0.5rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 0.5rem;
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: #5cd5eb;
  height: 0.5rem;
  width: 1rem;
}

/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

/*
Search CSS (Playlists, songs, etc.)
*/
.searchMenu {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 76%;
  height: 100%;
  gap: 10px;
  margin-bottom: 4%;
  padding-left: 4%;
}

.searchHeader {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.playlistThumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.playlistButton {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 2px;
  border: none;
}

.playlistButton:hover {
  background-color: rgb(68, 68, 68);
}

.playlistButtonText {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.playListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5%;
  margin-top: 2%;
}

.viewPlayListButton {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  margin: 5px;
  border: none;
}

.viewPlayListButton:hover {
  background-color: rgb(60, 60, 60);
}

.playListName {
  padding-left: 4%;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1.3rem;
  text-align: left;
}
.songList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.songListing {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 4%;
  margin-right: 4%;
  justify-content: space-between;
}

.songButton {
  display: flex;
  margin-right: 1rem;
  border: none;
  align-items: center;
  padding: 8px;
  border-radius: 2px;
}

.songButton:hover {
  background-color: rgb(119, 119, 119);
}

.songListingDesc {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.searchAlbumArt {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.searchArtistDesc {
  display: flex;
  flex-direction: column;
}
.searchTitle {
  color: white;
  font-size: larger;
  font-size: 1.2rem;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.searchSubtitle {
  margin-top: -1em;
  color: #747474;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 0.9rem;
  text-align: left;
}

.searchHeaderTitle {
  padding-left: 4%;
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 1.3rem;
  text-align: left;
}

.playListView {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 10px;
}

.playlistListing {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 4%;
  margin-right: 4%;
  padding: 5%;
}

.playlistListing {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  letter-spacing: 3px;
  justify-content: space-between;
  border-radius: 10px;
}

.cozyListing {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  align-items: center;
  background-color: #58878f61;
  padding-left: 4%;
  margin-right: 4%;
  padding: 5%;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  letter-spacing: 3px;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #58878f61;
}

.cozyListing:hover {
  border: 2px solid #0575c5; /* Specify border properties on hover */
}

.gamingListing {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  align-items: center;
  background-color: #8f585861;
  padding-left: 4%;
  margin-right: 4%;
  padding: 5%;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  letter-spacing: 3px;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #8f585861;
}

.gamingListing:hover {
  border: 2px solid rgba(255, 0, 0, 0.375); /* Specify border properties on hover */
}

.jazzListing {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: white;
  align-items: center;
  background-color: #898f5861;
  padding-left: 4%;
  margin-right: 4%;
  padding: 5%;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  letter-spacing: 3px;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #898f5861;
}

.jazzListing:hover {
  border: 2px solid rgba(255, 208, 0, 0.375); /* Specify border properties on hover */
}

.timer {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 20%;
  right: 1%;
  width: 8%;
  z-index: 9999;
}

.timerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerDigits {
  display: flex;
  flex: row;
}
.timerText {
  color: white;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  margin: 0;
}

.timerInput {
  background-color: #2b2b36;
  text-align: center;
  color: white;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*
Loader Styling
*/

.startLoader {
  /* position: fixed;
  top: 0;
  left: 0; */
  /* background-color: rgb(44, 42, 55); */
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #121036 #DFE9EB;
}*/

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #0B0A21 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #1b1b1e;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #2b2b36;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #2b2b36;
}
